{% extends "base.html" %}

{% block title %}Others{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/other.css" />
</head>
<body>

    <!-- Hero -->
    <section class="others-page-hero">
        <h1 class="others-page-hero-title">Others</h1>
    </section>

    <!-- Cards -->
    <section class="others-page-card-section">
        <div class="others-page-card-grid">

            <div class="others-page-card">
                <img src="/static/images/1.jpg" alt="1">
                <!-- Photo by KoolShooters  : https://www.pexels.com/photo/close-up-of-the-first-place-on-a-running-track-8533637/ -->
                <div class="others-page-card-content">
                    <h3 class="others-page-card-title">1</h3>
                    <p class="others-page-card-text">
                        Take a relaxing dip in refreshing azure waters. Five distinctive
                        pool courtyard settings are yours for the taking.
                    </p>
                    <a href="#" class="others-page-card-button">Learn More</a>
                </div>
            </div>

            <div class="others-page-card">
                <img src="/static/images/2.jpg" alt="2">
                <!-- Photo by Sami  Aksu: https://www.pexels.com/photo/post-with-number-2-17872548/ -->
                <div class="others-page-card-content">
                    <h3 class="others-page-card-title">2</h3>
                    <p class="others-page-card-text">
                        Three ellipse-shaped pools perfect for lounging, people-watching,
                        and enjoying a drink by the water.
                    </p>
                    <a href="#" class="others-page-card-button">Learn More</a>
                </div>
            </div>

            <div class="others-page-card">
                <img src="/static/images/3.jpg" alt="3">
                <!-- Photo by Erik Mclean: https://www.pexels.com/photo/close-up-of-a-number-three-sign-on-a-wall-9011378/ -->
                <div class="others-page-card-content">
                    <h3 class="others-page-card-title">3</h3>
                    <p class="others-page-card-text">
                        A private, tranquil escape surrounded by modern architecture and
                        semi-secluded plunge pools.
                    </p>
                    <a href="#" class="others-page-card-button">Learn More</a>
                </div>
            </div>

            <div class="others-page-card">
                <img src="/static/images/4.jpg" alt="4">
                <!-- Photo by Kate Che: https://www.pexels.com/photo/number-4-on-gray-wall-10895571/ -->
                <div class="others-page-card-content">
                    <h3 class="others-page-card-title">
                        The Pool District at The Cosmopolitan
                    </h3>
                    <p class="others-page-card-text">
                        Three distinct pool experiences that let you choose the vibe that
                        best suits your mood.
                    </p>
                    <a href="#" class="others-page-card-button">Learn More</a>
                </div>
            </div>

        </div>
    </section>

</body>
{% endblock %}
